{% extends 'base.twig' %}

{% block main %}
  {# Masthead #}
  {% include 'partials/masthead.twig' with {
    title: 'About Us',
    background_image: post.thumbnail.src
  } %}

  {# Intro #}
  <div>
    <div class="py-20">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-12">
          <div class="col-span-6">
            <h3 class="mb-4 text-3xl text-cc-dark-grey">{{ intro.heading }}</h3>
          </div>
          <div class="col-span-6">
            <h4 class="text-lg text-cc-dark-grey">{{ intro.subheading }}</h4>
            <p class="text-sm text-cc-mid-grey">{{ intro.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Wide image #}
  <div>
    <div class="min-h-[756px] bg-cc-mid-grey">
      <img src="{{ feature_image.url }}" alt="{{ feature_image.alt }}" class="object-cover w-full h-full">
    </div>
  </div>

  {# Working with us #}
  <div>
    <div class="py-20">
      <div class="container mx-auto">
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-6">
            <img src="{{ working_with_us.main_image.url }}" alt="{{ working_with_us.main_image.alt }}" class="rounded-lg h-[784px] w-full object-cover">
          </div>
          <div class="col-span-6">
            <img src="{{ working_with_us.secondary_image.url }}" alt="{{ working_with_us.secondary_image.alt }}" class="rounded-lg h-[376px] w-full object-cover mb-8">
            <h4 class="text-lg">{{ working_with_us.heading }}</h4>
            <p class="text-sm text-cc-mid-grey">{{ working_with_us.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Our Process #}
  <div>
    <div class="bg-cc-dark-grey">
      <div class="py-20">
        <div class="container mx-auto max-w-container">

          <div class="border-b border-b-cc-white">
            <div class="grid grid-cols-12">
              <div class="col-span-12">
                <div class="pb-8">
                  <h3 class="mt-0 mb-4 text-lg leading-none text-cc-white">{{ process.heading }}</h3>
                  <p class="text-sm text-cc-grey">{{ process.description }}</p>
                </div>
              </div>
            </div>
          </div>

          <ul>
            {% for item in process.items %}
              <li class="{% if not loop.last %} border-b {% endif %} pt-8 border-b-cc-white">
                <div class="grid grid-cols-12">
                  <div class="col-span-9">
                    <div class="pb-8">
                      <h3 class="mt-0 mb-4 text-lg leading-none text-cc-white">{{ item.process_step_title }}</h3>
                      <p class="text-sm text-cc-grey">{{ item.process_step_description }}</p>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {# Clients #}
  <div>
    <div class="py-16 bg-cc-white">
      <div class="container mx-auto max-w-container">
        <div class="mb-20">
          <h3 class="mb-4 text-xl text-cc-dark-grey">{{ clients.heading }}</h3>
          <div>
            <p class="text-sm text-cc-mid-grey">{{ clients.description }}</p>
          </div>
        </div>
        <div class="grid grid-cols-5 auto-rows-max gap-24">
          {% for logo in clients.logos %}
            <div class="flex items-center">
              <img src="{{ logo.client_logo.url }}" alt="{{ logo.client_name }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="py-16">
      <div class="container max-w-container">
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-6">
            <img src="{{ why_concrete.image.url }}" alt="{{ why_concrete.heading }}" class="rounded-lg h-[376px] w-full object-cover">
          </div>
          <div class="col-span-6">
            <h3 class="mb-4 text-xl text-cc-dark-grey">{{ why_concrete.heading }}</h3>
            <div>
              <p class="text-sm text-cc-mid-grey">{{ why_concrete.text }}</p>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>

  {# testimonials #}
  <div>
    <div class="py-16 bg-cc-light-grey">
      <div class="container max-w-container">
        <div class="grid grid-cols-12">
          <div class="col-span-12">
            <div>
              <div class="glide">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    {% for testimonial in testimonials.items %}
                      <li class="glide__slide">
                        <div class="max-w-[736px] mx-auto">
                          <h3 class="mb-4 text-lg text-cc-dark-grey">{{ testimonials.heading }}</h3>
                          <p class="mb-2 text-md text-cc-dark-grey">{{ testimonial.testimonial_text }}</p>
                          <p class="text-sm text-cc-dark-grey">
                            {{ testimonial.testimonial_author }}
                            {% if testimonial.testimonial_company %}
                              , {{ testimonial.testimonial_company }}
                            {% endif %}
                          </p>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                <div class="glide__arrows" data-glide-el="controls">
                  <button class="transition-opacity hover:opacity-50 glide__arrow glide__arrow--left" data-glide-dir="<">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24.75 46.67" width="32" height="32">
                      <defs>
                        <style>
                          .cls-1, .cls-2 {
                            fill: none;
                          }

                          .cls-2 {
                            stroke: #464d53;
                            stroke-width: 2px;
                          }

                          .cls-3 {
                            clip-path: url(#clippath);
                          }
                        </style>
                        <clipPath id="clippath">
                          <rect class="cls-1" x="0" y="0" width="24.75" height="46.67"/>
                        </clipPath>
                      </defs>
                      <g class="cls-3">
                        <polyline class="cls-2" points="24.04 .71 1.41 23.34 24.04 45.96"/>
                      </g>
                    </svg>
                  </button>
                  <button class="transition-opacity hover:opacity-50 glide__arrow glide__arrow--right" data-glide-dir=">">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24.75 46.67" width="32" height="32">
                      <defs>
                        <style>
                          .cls-1, .cls-2 {
                            fill: none;
                          }

                          .cls-2 {
                            stroke: #464d53;
                            stroke-width: 2px;
                          }

                          .cls-3 {
                            clip-path: url(#clippath);
                          }
                        </style>
                        <clipPath id="clippath">
                          <rect class="cls-1" x="0" y="0" width="24.75" height="46.67"/>
                        </clipPath>
                      </defs>
                      <g class="cls-3">
                        <polyline class="cls-2" points=".71 45.96 23.34 23.33 .71 .71"/>
                      </g>
                    </svg>
                  </button>
                </div>
              </div>
              <script>
                new Glide('.glide').mount()
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Latest projects #}
  {% include 'partials/latest-projects.twig' with {
    background: 'bg-cc-white'
  } %}

  {# Our Services #}
  {% include 'partials/our-services.twig' %}

  {# Get in touch #}
  <div>
    <div class="bg-cc-white">
      <div class="container mx-auto max-w-container">
        <div class="py-20">
          <h3 class="mb-4 text-lg fnt-bld text-cc-dark-grey">{{ cta.heading }}</h3>
          <p class="text-md text-cc-dark-grey">{{ cta.text }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
