<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/effra-trial" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/effra-heavy" rel="stylesheet">
    
    {{ function('wp_head')  }}

</head>
<body {{ function('body_class', 'antialiased') }} x-data="{ hamburger: false }" x-bind:class="hamburger ? 'overflow-hidden' : ''">

{# Include navigation partial #}
{% include 'partials/navigation.twig' with { dark_variant: dark_variant|default(false) } %}

{% block main %}


{% endblock %}

{# Footer #}
<footer>
    <div class="py-16 bg-cc-dark-grey">
        <div class="container mx-auto max-w-container">
            <div class="mb-16 max-w-64">
                <img src="{{ site.theme.link }}/svg/concrete-logo.svg">
            </div>
            <div class="grid grid-cols-2">
                <div>
                    <h3 class="text-3xl leading-[0.8] text-cc-white">Say hello</h3>
                </div>
                <div class="text-2md">
                    <h4 class="text-cc-white">Contact</h4>
                    <p class="text-cc-mid-grey">hello@concretecreative.co.uk</p>
                    <p class="text-cc-mid-grey">0141 724 0089</p>

                    <h4 class="mt-8 text-cc-white">Follow</h4>
                    <div class="text-cc-mid-grey">
                        <a href="#">Twitter</a>
                        <a href="#">Instagram</a>
                        <a href="#">Linkedin</a>
                    </div>
                </div>
            </div>
            <div class="mt-16 text-xs text-cc-white">
                <p><a href="#">Terms &amp; Privacy Policy</a> &copy; {{ function('date', 'Y') }} Concrete Creative</p>
            </div>
        </div>
    </div>
</footer>


    
{{ function('wp_footer') }}

</body>
</html>