<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/effra-trial" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/effra-heavy" rel="stylesheet">
    
    {{ function('wp_head')  }}

</head>
<body {{ function('body_class', 'antialiased') }} x-data="{ hamburger: false }" x-bind:class="hamburger ? 'overflow-hidden' : ''">

{# Navigation #}
{# animate the nav wiping down and up when hamburger is clicked #}
<div class="overflow-hidden absolute top-0 left-0 z-30 w-full bg-cc-dark-grey" x-bind:class="hamburger ? 'h-full' : 'h-0'">
     <header class="container mx-auto mt-8 w-full max-w-container">
        <div class="flex justify-between items-center"> 
            <div class="w-[69px] h-[80px]">
                <a href="{{ site.url }}" class="block transition-opacity hover:opacity-50">
                    <img src="{{ site.theme.link }}/svg/concrete.svg" alt="Concrete Creative logo">
                </a>
            </div>
            <div class="w-8 h-6">
                <a href="#" x-on:click="hamburger = !hamburger" class="relative -top-1 transition-opacity hover:opacity-50">
                    {% include 'svg/cross.svg' %} 
                </a>
            </div>  
        </div>

        <div class="mt-20">
            <ul class="">
                {% set items = ['About Us', 'Our Work', 'Services', 'Start a Project'] %}

                {% for item in items %}
                    <li><a href="#" class="text-3xl leading-tight transition-opacity text-cc-white hover:opacity-50">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-20">
            <div>
                <a href="#" class="text-xl transition-opacity text-cc-white hover:opacity-50">hello@concretecreative.co.uk</a>
            </div>
            <div>
                <a href="#" class="text-xl transition-opacity text-cc-white hover:opacity-50">0141 724 0089</a>
            </div>
        </div>
    </header>
</div>

{# Top nav #}
<div class="absolute z-10 w-full">
    <header class="container mx-auto mt-8 w-full max-w-container">
        <div class="flex justify-between items-center">
            <div class="w-[69px] h-[80px]">
                <a href="{{ site.url }}" class="block transition-opacity hover:opacity-50">
                    {% if dark_variant %}
                        <img src="{{ site.theme.link }}/svg/concrete-dark.svg" alt="Concrete Creative logo">
                    {% else %}
                        <img src="{{ site.theme.link }}/svg/concrete.svg" alt="Concrete Creative logo">
                    {% endif %}
                </a>
            </div>
            <div class="w-8 h-6">
                <a href="#" x-on:click="hamburger = !hamburger" class="transition-opacity hover:opacity-50">
                    {% if dark_variant %}
                        <img src="{{ site.theme.link }}/svg/hamburger-dark.svg" alt="Menu icon">
                    {% else %}
                        <img src="{{ site.theme.link }}/svg/hamburger.svg" alt="Menu icon">
                    {% endif %}
                </a>
            </div>  
        </div>
    </header>
</div>

{% block main %}


{% endblock %}

{# Footer #}
<footer>
    <div class="py-16 bg-cc-dark-grey">
        <div class="container mx-auto max-w-container">
            <div class="mb-16 max-w-64">
                <img src="{{ site.theme.link }}/svg/concrete-logo.svg">
            </div>
            <div class="grid grid-cols-2">
                <div>
                    <h3 class="text-3xl leading-[0.8] text-cc-white">Say hello</h3>
                </div>
                <div class="text-2md">
                    <h4 class="text-cc-white">Contact</h4>
                    <p class="text-cc-mid-grey">hello@concretecreative.co.uk</p>
                    <p class="text-cc-mid-grey">0141 724 0089</p>

                    <h4 class="mt-8 text-cc-white">Follow</h4>
                    <div class="text-cc-mid-grey">
                        <a href="#">Twitter</a>
                        <a href="#">Instagram</a>
                        <a href="#">Linkedin</a>
                    </div>
                </div>
            </div>
            <div class="mt-16 text-xs text-cc-white">
                <p><a href="#">Terms &amp; Privacy Policy</a> &copy; {{ function('date', 'Y') }} Concrete Creative</p>
            </div>
        </div>
    </div>
</footer>


    
{{ function('wp_footer') }}

</body>
</html>