{% extends 'base.twig' %}

{% block main %}
  {# Masthead #}
  {% include 'partials/masthead.twig' with {
    title: 'Our Services',
    background_image: post.thumbnail.src
  } %}

  {# Services #}
  <div>
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="mb-20">
          <h3 class="mb-4 text-3xl text-cc-dark-grey">{{ intro.heading }}</h3>
          <p class="text-xl text-cc-mid-grey">{{ intro.text }}</p>
        </div>

        {% for service in services %}
          <div class="grid grid-cols-12 gap-8 mb-20">
            {% if loop.index is odd %}
              <div class="col-span-6">
                {% if service.thumbnail %}
                  <img src="{{ service.thumbnail.src('large') }}" alt="{{ service.title }}" class="w-full h-[376px] object-cover rounded-lg">
                {% else %}
                  <div class="bg-cc-mid-grey h-[376px] rounded-lg"></div>
                {% endif %}
              </div>
              <div class="col-span-6">
                <h4 class="text-lg text-cc-dark-grey">{{ service.title }}</h4>
                <p class="mb-14 text-2md text-cc-mid-grey">
                  {% if service.meta('intro_text') %}
                    {{ service.meta('intro_text') }}
                  {% else %}
                    {{ service.preview.length(30).read_more('') }}
                  {% endif %}
                </p>

                {% include 'partials/btn.twig' with { 
                  url: service.link,
                  text: 'See More',
                  style: 'primary-dark'
                } %}
              </div>
            {% else %}
              <div class="col-span-6">
                <h4 class="text-lg text-cc-dark-grey">{{ service.title }}</h4>
                <p class="mb-14 text-2md text-cc-mid-grey">
                  {% if service.meta('intro_text') %}
                    {{ service.meta('intro_text') }}
                  {% else %}
                    {{ service.preview.length(30).read_more('') }}
                  {% endif %}
                </p>

                {% include 'partials/btn.twig' with { 
                  url: service.link,
                  text: 'See More',
                  style: 'primary-dark'
                } %}
              </div>
              <div class="col-span-6">
                {% if service.thumbnail %}
                  <img src="{{ service.thumbnail.src('large') }}" alt="{{ service.title }}" class="w-full h-[376px] object-cover rounded-lg">
                {% else %}
                  <div class="bg-cc-mid-grey h-[376px] rounded-lg"></div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {# CTA #}
  {% include 'partials/cta.twig' %}

  {# Similar Projects #}
  {% include 'partials/latest-projects.twig' with {
    background: 'bg-cc-white',
    count: 2,
    title: 'Featured Projects',
    projects: similar_projects
  } %}

{% endblock %}
