{% extends 'base.twig' %}

{% block main %}
  {# Masthead #}
  {% include 'partials/masthead.twig' with {
    title: post.title,
    background_image: post.thumbnail.src
  } %}

  {# Intro #}
  <div>
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-2 gap-8">
          <div class="col-span-2">
            <p class="text-sm text-cc-dark-grey">{{ post.title }}</p>
            <p class="mb-0 text-sm text-cc-mid-grey">
              {% if post.terms('project_tags') %}
                {% for tag in post.terms('project_tags') %}
                  {{ tag.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
              {% endif %}
            </p>
          </div>
          <div class="col-auto">
            <h3 class="text-2xl text-cc-dark-grey">{{ post.project_intro_heading }}</h3>
          </div>
          <div class="col-auto">
            <div class="text-sm text-cc-mid-grey">{{ post.project_intro_summary }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Project Content - Gutenberg #}
  {% if post.content %}
    <div class="bg-cc-white">
      <div class="concrete-content">
        {{ post.content }}
      </div>
    </div>
  {% endif %}

  {# CTA #}
  {% include 'partials/cta.twig' with {
    background: 'cc-light-grey'
  } %}

  {# 3 images #}
  {# <div class="bg-white">
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-2 gap-8">
          <div class="col-span-2">
            <img class="w-full rounded-lg" src="https://placehold.co/1120x544" />
          </div>
          <div class="col-span-1">
            <img class="w-full rounded-lg" src="https://placehold.co/544x376" />
          </div>
          <div class="col-span-1">
            <img class="w-full rounded-lg" src="https://placehold.co/544x376" />
          </div>
        </div>
        <div class="grid grid-cols-12 gap-8">
          <div class="col-span-9">
            <div class="mt-12">
              <p>We were approached by New College Lanarkshire and SPS having previously worked with them on a number of different projects. It was important after such a momentous project that everything that was learned was documented. We designed two brochures for this project, an evaluation document and a resource book for teachers.</p>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div> #}

  {# 3 images - grey background #}
  {# <div class="bg-cc-light-grey">
    <div class="py-16">
      <div class="container mx-auto max-w-container">
        <div class="grid grid-cols-2 gap-8">
          <div class="col-span-2">
            <img class="w-full rounded-lg" src="https://placehold.co/1120x544" />
          </div>
          <div class="col-span-1">
            <img class="w-full rounded-lg" src="https://placehold.co/544x376" />
          </div>
          <div class="col-span-1">
            <img class="w-full rounded-lg" src="https://placehold.co/544x376" />
          </div>
        </div>
      </div>
    </div>
  </div> #}

  {# Similar Projects #}
  {% if similar_projects %}
    {% include 'partials/latest-projects.twig' with {
      background: 'bg-cc-white',
      title: 'Similar Projects',
      projects: similar_projects
    } %}
  {% endif %}
 
{% endblock %}
