{# Mobile Navigation Menu #}
<div class="overflow-hidden absolute top-0 left-0 z-30 w-full bg-cc-dark-grey" x-bind:class="hamburger ? 'h-full' : 'h-0'">
     <header class="container mx-auto mt-4 md:mt-8 w-full max-w-container md:px-0">
        <div class="flex justify-between items-center"> 
            <div class="relative w-[44px] h-[52px] md:w-[69px] md:h-[80px]">
                <a href="{{ site.url }}" class="block transition-opacity hover:opacity-50">
                    <img src="{{ site.theme.link }}/svg/concrete.svg" alt="Concrete Creative logo" class="w-full h-full object-contain object-left">
                </a>
            </div>
            <div class="w-[24px] h-[18px] md:w-8 md:h-6 flex items-center justify-center">
                <a href="#" x-on:click="hamburger = !hamburger" class="block p-2 transition-opacity hover:opacity-50">
                    {% include 'svg/cross.svg' with { class: 'w-6 md:w-8' } %} 
                </a>
            </div>  
        </div>

        <div class="mt-8 md:mt-20">
            <ul class="space-y-0 md:space-y-6">
                {% if mobile_menu %}
                    {% for item in mobile_menu.items %}
                        <li><a href="{{ item.link }}" class="pl-0 text-xl md:text-2xl lg:text-3xl leading-tight transition-all duration-200 ease-in-out text-cc-white hover:opacity-50 hover:pl-4 block py-0 md:py-2" {{ item.target ? 'target="' ~ item.target ~ '"' }}>{{ item.title }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="mt-12 md:mt-20">
            <div>
                <a href="#" class="text-sm md:text-xl transition-opacity text-cc-white hover:opacity-50 block py-0 md:py-2">hello@concretecreative.co.uk</a>
            </div>
            <div>
                <a href="#" class="text-sm md:text-xl transition-opacity text-cc-white hover:opacity-50 block py-0 md:py-2">0141 724 0089</a>
            </div>
        </div>
    </header>
</div>

{# Top Navigation #}
<div x-data="{ scrolled: false }" 
     x-init="window.addEventListener('scroll', () => { scrolled = window.scrollY > 20 })" 
     class="fixed z-20 w-full transition-all duration-300" 
     :class="scrolled ? 'bg-cc-dark-grey' : 'bg-cc-dark-grey md:bg-opacity-0'">
    <header class="container mx-auto mt-4 mb-4 md:mt-8 md:mb-8 w-full max-w-container md:px-0">
        <div class="flex justify-between items-center">
            <div class="relative w-[44px] h-[52px] md:w-[69px] md:h-[80px]">
                <a href="{{ site.url }}" class="block transition-opacity hover:opacity-50">
                    {% if dark_variant %}
                        <img src="{{ site.theme.link }}/svg/concrete-dark.svg" alt="Concrete Creative logo" :class="{ 'md:opacity-100': !scrolled, 'md:opacity-0': scrolled }" class="absolute inset-0 w-full h-full object-contain object-left transition-opacity duration-300 opacity-0 md:opacity-100">
                        <img src="{{ site.theme.link }}/svg/concrete.svg" alt="Concrete Creative logo" :class="{ 'md:opacity-0': !scrolled, 'md:opacity-100': scrolled }" class="absolute inset-0 w-full h-full object-contain object-left transition-opacity duration-300 opacity-100 md:opacity-0">
                    {% else %}
                        <img src="{{ site.theme.link }}/svg/concrete.svg" alt="Concrete Creative logo" class="w-full h-full object-contain object-left">
                    {% endif %}
                </a>
            </div>
            <div class="w-[24px] h-[18px] md:w-8 md:h-6 flex items-center justify-center">
                <a href="#" x-on:click="hamburger = !hamburger" class="block p-1 transition-opacity hover:opacity-50">
                    {% if dark_variant %}
                        <div class="w-6 md:w-8 absolute transition-opacity duration-300" :class="{ 'md:opacity-100': !scrolled, 'md:opacity-0': scrolled }">
                            {% include 'svg/hamburger-dark.svg' with { class: 'w-6 md:w-8' } %}
                        </div>
                        <div class="w-6 md:w-8 absolute transition-opacity duration-300" :class="{ 'md:opacity-0': !scrolled, 'md:opacity-100': scrolled }">
                            {% include 'svg/hamburger.svg' with { class: 'w-6 md:w-8' } %}
                        </div>
                    {% else %}
                        {% include 'svg/hamburger.svg' with { class: 'w-6 md:w-8' } %}
                    {% endif %}
                </a>
            </div>  
        </div>
    </header>
</div> 