{% set custom_classes = custom_classes|default('min-h-[250px] sm:min-h-[300px] md:min-h-[376px]') %}
{% set is_double_height = is_double_height|default(false) %}
{% set height_class = is_double_height ? 'min-h-[400px] sm:min-h-[600px] md:min-h-[823px]' : 'min-h-[250px] sm:min-h-[300px] md:min-h-[376px]' %}
{% set image_size = is_double_height ? 'project-card-double' : 'project-card' %}

<a class="group rounded-lg bg-cc-mid-grey transition-all hover:shadow-lg hover:scale-105 duration-250 ease-in-out shadow-none {{ height_class }} {{ custom_classes }}" href="{{ project.link }}">
  <div class="flex relative flex-col justify-between h-full">
    {% if project.thumbnail %}
      <div class="overflow-hidden absolute inset-0 z-0 rounded-lg">
        <div class="w-full h-full transition-all ease-in-out duration-250">
          <!-- {{ image_size }} -->
          <img src="{{ project.thumbnail.src(image_size) }}" alt="{{ project.title }}" class="object-cover w-full h-full transition-all ease-in-out scale-105 duration-250 group-hover:scale-100" />
          {# <div class="absolute inset-0 opacity-0 transition-opacity bg-cc-dark-grey group-hover:opacity-50"></div> #}
        </div>
      </div>
    {% endif %}

    <div class="flex flex-col justify-between p-4 sm:p-6 md:p-8 pt-8 sm:pt-16 h-full">
      <div class="relative z-10">
        {# {% if project.thumbnail_image %}
          <div class="overflow-hidden mb-4 w-16 h-16 rounded-full bg-cc-white">
            <img src="{{ project.thumbnail_image.src('project-thumbnail') }}" alt="{{ project.title }} thumbnail" class="object-cover w-full h-full" />
          </div>
        {% endif %} #}
        <h4 class="text-lg sm:text-xl leading-tight drop-shadow text-cc-white">{{ project.title }}</h4>
        {% if project.excerpt %}
          <p class="mt-2 md:mt-4 text-sm md:text-base text-cc-white">{{ project.excerpt }}</p>
        {% endif %}
      </div>

      {% if project.terms('project_tags') %}
        <div class="flex relative z-10 flex-wrap gap-2 mt-4">
          {% for tag in project.terms('project_tags') %}
            <span class="inline-block py-[4px] px-1 md:p-1 md:px-2 text-tag leading-none md:leading-normal md:text-sm bg-opacity-30 rounded text-cc-white bg-cc-white">{{ tag.name }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</a>
